/* Place project-specific CSS here */

@import "teibp-navigation.css";
@import "teibp-arabic.css";
@import "teibp-toolbox.css";
@import "teibp-tei-elements.css";
@import "teibp-heads.css";
@import "teibp-sidebar-buttons.css";
@import "teibp-links.css";

/* provide a readable page-width and center it on screen */
html{
    width:800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;
    padding:0;
}
html > body{
    padding-left:2em;
    padding-right:2em;
    padding-top:1em;
    padding-bottom: 1em;
}
#tei_wrapper{
    padding-left:1em;
    padding-right:1em;
    padding-top:1em;
    padding-bottom: 1em;
}
/* fonts */
html {
	font-family: Helvetica, Arial, sans-serif;
    word-wrap: break-word;
}
/* colour scheme */
html {
	background-color:#EBEBEB; 
}
body, #tei_wrapper {
	background-color: white;
}

/* remove the unequal padding between full text and facsimile view */
#tei_wrapper {
    padding:0;
}
head {
	background-color: orange;
	color: white;
}