/* render Arabic as rtl */
[lang = "ar"],[lang = "ota"],[lang = "fa"],[lang = "he"],[lang *= "-Arab-Ar"]{
    direction:rtl;
    text-align:right;
    font-family: AmiriWeb, Helvetica, Arial, sans-serif;
    /*keep in mind that relative sizes (%, em) 
    accumulate for nested elements and must thus be avoided. 
    At the moment almost everything is tailored to 18px */
    font-size:18px;
}
/* display latin scripts in a smaller font */
[lang = "en"],[lang = "fr"],[lang = "de"],[lang = "it"],[lang *= "ar-Latn-"],[lang *= "ota-Latn-"]{
    direction:ltr;
    text-align:left;
    font-family: Helvetica, Arial, sans-serif;
    font-size:14px;
}
[lang *= "ar-Latn-"],[lang *= "ota-Latn-"]{
    font-style:italic;
}
/* change markers for quotes based on language */
q[lang="ar"] {
    quotes: "\00AB" "\00BB";
}

/* account for qaṣīdas */
lg{
    /*clear:both;*/
    clear:right;
    /*margin-right will also shift pb children*/
    /*margin-right:3em;*/
}
/* new encoding as lg/l[@type='bayt']/seg */
l[type="bayt"]{
    clear:right;
    margin-right:25px;
/*    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;*/
}
l[type = "bayt"] > seg{
    /*position:relative;*/
    display:block;
    padding-left: 0px;
    padding-right: 0px;
    float:right;
    width:200px;
}
l[type = "bayt"] > seg:first-child{
    clear:right;
    margin-left:20px;
}
l[type = "bayt"] > seg:last-child{
    /*clear:left;*/
}
div,
p, ab {
    /*clear:both;*/
/*    clear:right;*/
}