@import url('http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Gentium+Book+Basic:400,400italic,700,700italic');
/* imports */
/* @import url("shell.css"); */
/* namespaces */
/* @namespace "http://www.tei-c.org/ns/1.0"; */
/* @namespace with prefix, as below, throws and error in less. */
/* @namespace html "http://www.w3.org/1999/xhtml"; */
/* Less variables */
.note-like {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #aaaaaa;
  background: #fafafa;
  /* reset text-indent for note with <l> ancestors. */

  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
/* US Style Quotes */
.quotesUS {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
/* UK-Style Quotes */
.quotesUK {
  quotes: "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019";
}
.quotes {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d";
}
.block-margins {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* teibp classes */
.-teibp-thumbnail {
  max-height: 60px;
}
.-teibp-pb {
  display: block;
  width: 100%;
  text-align: right;
  color: gray;
  margin: 2em 0 2em 0;
  font-size: 11pt;
}
.box-shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.hide {
  display: none;
}
.mono {
  font-family: Courier,monospace;
}
.page-setup {
  margin-left: 2em;
  margin-right: 4em;
  padding: 2.5em;
  font-family: "Gentium Book Basic", Cochin, Georgia, Serif;
  font-size: 14pt;
  background-color: #ebebeb;
  color: #292929;
  width: 33em;
}

/*#wrapper * {
  display: inline;
}*/
/* new: all elements have been transformed into <span class="{name()}">*/
span {
    display: inline;
}
/*span[lang='ar'] {
  margin-left: 0.5em;
}
span[lang='en'] {
  margin-right: 0.5em;
}*/
.accessCondition {}
.dateIssued {}
/* if hijri dates are present in my data I always provide the machine-readable
<dateOther type="hijri"/> and a human readible <dateOther/> */
.dateOther {}
.dateOther[type='hijri'] {
  display: none;
}
.detail {}
.detail[type='volume']:before {
  content: "v.";
}
.detail[type='issue']:before {
  content: "no.";
}
.edition {}
.extent[unit='pages']:before {
  content: "pp.";
}
.extent .start {}
.extent .end:before {
  content: "–";
}
.genre {
  display: none;
}
.issuance {
  display: none;
}
.language {}
.languageTerm {
  display: none;
}
.name {}
.name:after {
  content: ". "
}
.aut:before {
  content: "تأليف: "
} {}
.edt:before {
  content: "تحقيق: "
}
.namePart {
}
.location {}
.originInfo {}
.part {}
.place {}
.place:after {
  content: ": "
}
.placeTerm {}
.publisher {}
.publisher:after {
  content: ". "
}
.role {
  display: none;
}
.roleTerm {}
.mods title {}
.titleInfo {}
.titleInfo:after {
  content: ". "
}
.typeOfResource {
  display: none;
}
.url {
  display: none;
}

/* old */
accessCondition {}
dateIssued {}
detail {}
detail[type='volume']:before {
  content: "v.";
}
detail[type='issue']:before {
  content: "no.";
}
edition {}
extent[unit='pages']:before {
  content: "pp.";
}
extent start {}
extent end:before {
  content: "–";
}
genre {
  display: none;
}
issuance {
  display: none;
}
language {}
languageTerm {
  display: none;
}
name {}
namePart {
}
location {}
originInfo {}
part {}
place {}
placeTerm {}
publisher {}
role {
  display: none;
}
roleTerm {}
/* this is necessary as title is usually supressed */
mods title {
   display: inline;
}
titleInfo {}
typeOfResource {
  display: none;
}
url {
  display: none;
}

