/* Place project-specific CSS here */

/*@import "teibp-navigation.css";*/
@import "teibp-arabic.css";
/*@import "teibp-toolbox.css";*/
@import "mods-bp_mods-elements.css";
@import "teibp-links.css";
/*@import "teibp-heads-light.css";*/
/*@import "teibp-sidebar-buttons.css";*/
/* teibp-facsimile.css toggles the two-column view with a large facsimile displayed to the left of the text */
/*@import "teibp-facsimile.css";*/
/*@import "teibp-masthead.css";*/
@import "fonts-amiri.css";



/* provide a readable page-width and center it on screen */
html{
    width:1100px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;
    padding:0;
}
html > body{
    padding-left:2em;
    padding-right:2em;
    padding-top:1em;
    padding-bottom: 1em;
}
#wrapper{
    padding-left:1em;
    padding-right:1em;
    padding-top:1em;
    padding-bottom: 1em;
}
/* fonts */
html {
	font-family: Helvetica, Arial, sans-serif;
    word-wrap: break-word;
}
/* colour scheme */
html {
	background-color:#EBEBEB; 
}
body, #wrapper {
	background-color: white;
}

/* remove the unequal padding between full text and facsimile view */
#wrapper {
    padding:0;
}
/*head {
	background-color: orange;
	color: white;
}