/*-------------------------------
CSS for correctly aligning Arabic and Ottoman to the left
author: Till Grallert
date: 2015-08-25
---------------------------------*/

[xml\:lang="ar"], [xml\:lang="ota"]{
    direction:rtl;
    text-align:right;
    /*as relative font-sizes are accumulated in nested elements, one needs to set a fixed size*/
    font-size:24px;
    font-weight:normal;
}

[xml\:lang="en"], [xml\:lang="fr"], [xml\:lang*="-Latn-"]{
      direction:ltr;
      text-align:left;
      font-weight:normal;
      }

text {
    margin-left:auto;
    margin-right:auto;
    width:800px;
    padding-left:1em;
    padding-right:1em;
}
head {
    font-style:oblique;
}
div, p {
    clear:both;
}
/* qaṣīdas */
lg[type="bayt"] {
    display:block;
    padding-right: 2em;
}
lg[type="bayt"] > l {
    display: inline;
    width:10em;
    padding-left:1em;
    padding-right:1em;
}
div, p {
    clear:both;
}

/*---------------------------
float is not supported by oXygen
-----------------------------*/

/*
lg[type="bayt"] {
    clear:both;
    padding-right: 2em;
}
lg[type="bayt"] > l {
    position:relative;
    display: block;
    float:right;
    width:10em;
    padding-left:1em;
    padding-right:1em;
}
lg[type="bayt"] > l:first-child {
    clear:right;
}
lg[type="bayt"] > l:last-child {
    clear:left;
}
div, p {
    clear:both;
}
 */
 
/* page breaks */

text pb[ed="print"] {
    display:inline;
    content:"\a";
    color:green;
   }
text pb:after {
	content: "@n=" attr(n);
	direction:ltr;
	vertical-align:top;
	font-size: 0.5em;
	color: orange;
	display:inline;
}

/*named entities: inline and colours*/
persName, placeName, orgName, addName, forename, surname {
    display:inline;
}

persName, addName, forename, surname {
    color: #358841;
}
placeName {
    color: #51268B;
}
orgName {
    color: #26798B;
}