/* make the toolbox dependent on the flow of the site */
#teibpToolbox{
    position:fixed;
    display:block;
    left:inherit;
    top:0px;
    width:800px;
    box-shadow:0 0 0 0;
    border-radius:0;
}
#teibpToolbox *{
    display:inline;
    padding-right:1em;
}
#teibpToolbox option{
    display:block;
}