/* the navigation bar */
/* ---------------------------------
structure of <nav/>
<nav>
	<ul>
		<li><a/></li>
		<li><a/>
			<ul>
				<li><a/></li>
			</ul>
		</li>
	</ul>
</nav>
------------------------------------*/
/* from a side bar */
/*nav{
    background:#fbfbfb;
    border-right:1px solid #e5e5e5;
    position:fixed;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:2em;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1, 1);
    z-index:1000;
}*/
/* from the top right corner */
nav{
    background-color:white;
    border:1px solid #e5e5e5;
    position:fixed;
    /* top:1em;
    height:2em;
    right:1em;
    width:2em; */
    top:0px;
    height:40px;
    right:0px;
    width:40px;
    margin:0;
    overflow:hidden;
    /* The transition somehow causes different displays in different browsers */
    /* -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1, 1);*/
    z-index:10000;
}
/* providing the standard menu symbol of three horizontal bars */
nav:before{
    content:"\2261";
    font-size:2em;
    padding-left:0.2em;
    padding-right:0.2em;
    position:fixed;
}
nav ul{
    display:none;
    background-color:inherit;
    width:16px;
    top:inherit;
    right: inherit;
    height:inherit;
    position:fixed;
    /* swith off standard behavour */
    -moz-padding-start:0px;

}
nav li{
    display:none;
    width:inherit;
    height:inherit;
}
nav a, 
nav a * {
    background-color:inherit;
    text-decoration:none;
    font-size:16px;
    color:#999;
}
nav:hover, 
nav:focus{
    /*width:200px;*/
    height:auto;
    overflow:visible;
    display:block;
}
/* deal with the first level */
nav:hover > ul, 
nav:focus > ul{
    display:block;
    width:200px;
    min-height:40px;
}
/* second level */
nav:hover >ul> li:hover > ul, 
nav:focus > ul > li:focus > ul {
    display:block;
    width:200px;
    /* if we say "top:inherit", the ul can be only marginally indented, as it will be displayed below the selected li */
    top:inherit;
    right:50px;
    z-index:2000;
}
/* third level */
nav:hover >ul> li:hover > ul > li:hover > ul , 
nav:focus >ul> li:focus > ul > li:focus > ul{
    display:block;
    width:200px;
    /* if we say "top:inherit", the ul can be only marginally indented, as it will be displayed below the selected li */
    top:inherit;
    right:100px;
    z-index:3000;
}
/* all levels */
nav:hover ul, 
nav:focus ul {
    outline:0;
    margin:0;
    padding:0;
    position:fixed;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px -1px 0px rgba(0, 0, 0, 0.3) inset;
}
nav:hover li, 
nav:focus li{
    outline:0;
    margin:0;
    padding:0;
    position:relative;
    display:block;
    /*fixed with or relative ?*/
    width:200px;
    background-color:inherit;
}
nav:hover ul li:first-child > a, 
nav:focus ul li:first-child > a  {
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
nav:hover ul li:last-child > a, 
nav:focus ul li:last-child > a  {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 5px;
}
nav:hover li > a, 
nav:focus li > a{
    position:relative;
    display:block;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    /*fixed with or relative ?*/
    width:200px;
    line-height: 1.3em;
    color:#999;
    border:1px solid #e5e5e5;
}
nav:hover li > a:hover, 
nav:focus li > a:focus{
    display:block;
    /*fixed with or relative ?*/
    width:inherit;
/*    background-color:highlight;
    color:highlighttext;*/
    text-decoration:none;
}
/* highlight colours mirroring the heads */
nav:hover > ul > li > a:hover, 
nav:focus > ul > li > a:focus {
    color: white;
    background-color: #BD4007;
}
nav:hover > ul>li>ul>li > a:hover, 
nav:focus > ul>li>ul>li > a:focus {
    color: white;
    background-color: #EE530A;
}
nav:hover > ul>li>ul>li>ul>li > a:hover, 
nav:focus > ul>li>ul>li>ul>li > a:focus {
    color: white;
    background-color: #ED8816;
}