[rend="brackets"] {
	/* this doesn't seem to work with inline-blocks*/
    /*quotes: " \0028" "\0029" !important;*/
    /*color: red;*/
}
[rend="brackets"]:before {
	content: "\0028";
}
[rend="brackets"]:after {
	content: "\0029";
}

/*[rend="quotation-marks"][lang="ar"],
[rend="quotation-marks"][lang *= "-Arab-AR"] {
    quotes: "\00AB" "\00BB" !important;
}*/
/*[rend="quotation-marks"][lang="ar"]:before,
[rend="quotation-marks"][lang="ota"]:before,
[rend="quotation-marks"][lang *= "-Arab-AR"]:before {
    content: "\00AB" !important;
}
[rend="quotation-marks"][lang="ar"]:after,
[rend="quotation-marks"][lang="ota"]:after,
[rend="quotation-marks"][lang *= "-Arab-AR"]:after {
    content: "\00BB" !important;
}*/
[rend="quotation-marks"]:before {
    content: "\00AB" !important;
}
[rend="quotation-marks"]:after {
    content: "\00BB" !important;
}