/*------------------
This stylesheet governs the display of links
-------------------*/

a {
	display: inline;
	text-decoration: none;
}

a:link,
a:visited,
a:active {
  color: #5f0000;
  text-decoration: none;
}
a:hover {
  color: #5f0000;
  text-decoration: none;
}


/* elements pointing to themselves */
head a.cLinkSelf {
	display: block;
	color: inherit;
}


/* footnote anchors */
a.cFnMark{
    vertical-align:top;
    font-size:0.7em;
    padding-left:0.5em;
    padding-right:0.5em;
}

/* link back to the top of the page: have been removed from the <head>s */

a.cBackToTop {
	display: block;
	padding-top: 0.5em;
	text-align: left;
	font-size: 0.5em;
}

a.cBackToTop::after {
	content: "back to top";
}
/* link to the BibTex files */
head span.cLinks {
	display: block;
	text-align: left;
	font-size: 10px;
	color: inherit;
	padding-bottom: 0;
}
head a.cLinkBibTex, head a.cLinkMods {
	display: inline;
	font-size: inherit;
	padding-right: 0.5em;
}
/*a.cLinkBibText::after{
	content: "BibTeX";
}*/