/* Place project-specific CSS here */

@import "teibp_navigation.css";
@import "teibp_arabic.css";
@import "teibp_toolbox.css";
@import "teibp_tei-elements.css";
/* add styling to named entities such as toponyms */
@import "teibp_named-entities.css";
@import "teibp_links.css";
/* this can be set to either teibp_heads-light or teibp_heads-dark */
/*@import "teibp_heads-light.css";*/
@import "teibp_sidebar-buttons.css";
/* teibp_facsimile.css toggles the two-column view with a large facsimile displayed to the left of the text */
@import "teibp_facsimile.css";
@import "teibp_masthead.css";
@import "fonts_amiri.css";
@import "teibp_rendition.css";



/* provide a readable page-width and center it on screen */
html{
    width:800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;
    padding:0;
}
html > body{
    padding-left:2em;
    padding-right:2em;
    padding-top:1em;
    padding-bottom: 1em;
}
#tei_wrapper{
    padding-left:1em;
    padding-right:1em;
    padding-top:1em;
    padding-bottom: 1em;
}
/* fonts */
html {
    font-family: Helvetica, Arial, sans-serif;
    word-wrap: break-word;
}
/* colour scheme */
html {
    background-color:#EBEBEB; 
}
body, #tei_wrapper {
    background-color: white;
}

/* remove the unequal padding between full text and facsimile view */
#tei_wrapper {
    padding:0;
}