/*------------------
 named entities
-------------------- */
text persName{
    /* color:#1B8500; */
    /*background-color: #C9F6C5;*/
    border-bottom: 2px dotted #C9F6C5;
}

text placeName{
    /* color:#9525A1; */
    /*background-color: #FADDFF;*/
    border-bottom: 2px dotted #FADDFF;
}
text orgName{
    /* color:#5F789E; */
    /*background-color: #E4E8FF;*/
    border-bottom: 2px dotted #E4E8FF;
}

text persName, 
text placeName, 
text orgName, 
text>body title {
  display: inline;
  position: relative;
}
/* generate a box for "fake" underlines. this could float 
next to the text to not obstruct the reader's view of the text */
/*text persName::after, 
text placeName::after, 
text orgName::after, 
text>body title::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 7px;
}*/

/* coloured underlines for different entities */
/*text persName::after {
    border-bottom: 3px dotted #C9F6C5;
}
text placeName::after{
    border-bottom: 3px dotted #FADDFF;
}
text orgName::after{
    border-bottom: 3px dotted #E4E8FF;
}*/

/* display tooltip-like information on the tag */
text persName:hover:after,
text placeName:hover:after,
text orgName:hover:after,
text>body title:hover:after{
    /*display:inline-block;
    font-size:10px;
    text-align: center;
    text-indent: 0;
    direction: ltr;
    font-family: Helvetica, Arial, sans-serif;
    color:black;
    background-color:white;
    border-bottom: none;
    padding: 0.5em 0 0.5em 0;
    border: 0 0 0 0;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
    box-shadow:0px 1px 5px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px -1px 0px rgba(0, 0, 0, 0.3) inset;
    min-width: 60px;
    width: 100%;*/
    /* position the pop over */
    /*position:absolute;
    margin:-2em 0 0 0;*/
    /*z-index: 10000;*/
}
/* display element name */
/*text persName:hover:after{
    content:"persName"
}
text placeName:hover:after{
    content:"placeName"
}
text orgName:hover:after{
    content:"orgName"
}
text>body title:hover:after {
    content: "title"
}*/