/** {
    border: 1px solid red !important;
}*/

/*-----------------------
teipb, the main stylesheet surpresses the display of quite a few tei elements
-------------------------*/
/*-----------------------
display the information on a file's source
-------------------------*/
/* a) by means of sourceDesc */
sourceDesc,
sourceDesc > *{
    display:block;
}
sourceDesc bibl,
sourceDesc biblStruct,
sourceDesc bibl > *,
sourceDesc biblStruct > *,
sourceDesc biblStruct monogr > *,
sourceDesc biblStruct imprint > *{
    display:block;
}
sourceDesc tei-title{
    font-size:1.5em;
    font-weight:bold;
}
sourceDesc tei-title[type = "sub"]{
    font-size:1.2em;
    font-weight:bold;
}
sourceDesc editor:after{
    content:" (ed.)"
}
/* b) by means of .cSource */
div.cSource,
div.cSource > div{
    margin-top:0.5em;
    margin-bottom:0.5em;
}
/*-----------------------
elements in the text
-------------------------*/
text,
body,
front,
back{
    counter-reset:p;
}

/** {
    font-size: inherit;
}*/

/*--------------------
block level elements
----------------------*/

/* all */

div,
p, 
ab, 
lg, 
l {
    clear:right;
    display: block;
    /* what about left and right margins? */
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0 0 5px 0;
    border: 0 0 0 0;
    height: 100%;
}

/* divisions */

div {
}

/* paragraphs */
p {
    text-indent: 10px;
}
/* count paragraphs */

/*p{
    counter-increment:p;
}
text p:before{
    content:"ยง " counter(p) " ";
    direction:ltr;
    /\* vertical-align:top; *\/
    font-size:0.5em;
    display:block;
    position:absolute;
    padding-right:0.5em;
    padding-left:0.5em;
    margin-top:0.5em;
    margin-right:-40px;
    color:gray;
}*/

/* new explicit counting */
p>span.c_id{
    direction:ltr;
    /* vertical-align:top; */
    font-size:0.5em;
    display:block;
    position:absolute;
    padding-right:0.5em;
    padding-left:0.5em;
    margin-top:0.5em;
    color:gray;
}
/* for ltr languages*/
p>span.c_id{
    margin-left: -4em;
}
/* for rtl languages*/
p[lang = "ar"]>span.c_id,
p[lang = "ota"]>span.c_id,
p[lang = "fa"]>span.c_id,
p[lang = "he"]>span.c_id,
p[lang *="-Arab-AR"]>span.c_id{
    margin-right: -4em;
}

p>span.c_id:before {
    content:"ยง ";
    direction:ltr;
}
/* lines */
/*pb {
    counter-reset: br;
    counter-increment: br;
}
text:br {
    counter-increment: br;
}
text br:before{
    content:"ยง " counter(br) " ";
    direction:ltr;
     vertical-align:top; 
    font-size:0.5em;
    display:block;
    position:absolute;
    padding-right:0.5em;
    padding-left:0.5em;
    margin-top:0.5em;
    margin-right:-40px;
    color:gray;
}*/

/* anonymous blocks <ab> */
ab{
    margin-right:auto;
    margin-left:auto;
}
/* byline */
byline{
    display:block;
}
byline[lang="ar"],
byline[lang="ota"]{
    margin-right: 100px;
}
byline{
    margin-left: 100px;
}
/* gaps */
gap{
    display:inline;
}
gap:after{
    content:" [...] "
}

/* foreign words */
foreign {
    font-style: italic;
}
/*------------------
 tables
------------------- */
table{
    display: block;
    border-collapse:collapse;
    width:80%;
}
row, 
tr {
  display: table-row;
  /* this is to mirror the indent of l*/
  /*margin-right: 25px;*/
}
row[role="label"], 
th {
  font-weight: bold;
  border-bottom: double #959595;
}

cell,
td {
    display:table-cell;
    width:auto;
    padding-right: 0.5em;
    padding-left: 0.5em;
    border-right: 1px solid #959595;
    border-left: 1px solid #959595;
}
cell:first-child, 
td:first-child{
    border-right: none !important;
}
cell:last-child, 
td:last-child{
    border-left: none !important;
}

cell {
  /*
border-left: 2px solid @border-color;
border-top:2px solid @border-color;
*/
}

/*------------------------
editorial changes
------------------------*/

choice>corr:before,
supplied:before {
    content:"[";
}
choice>corr:after, 
supplied:after {
    content: "]";
}
choice>corr[resp = "#org_MS"], 
supplied[resp = "#org_MS"]{
    display: none;
}
sic {
    color: red;
}
sic:after {
    content: " [sic]";
    color: red;
}
/*------------------------
bibliographic information
------------------------*/
text>body title {
    color:#F35024;
}