/* from the top right corner */
/*generic button */
div.c_button-sidebar{
    background-color:white;
    border:1px solid #e5e5e5;
    position:fixed;
    height:40px;
    width:40px;
    right:0px;
    margin:0;
    padding:0;
    overflow:hidden;
    /* The transition somehow causes different displays in different browsers */
    /* -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1, 1);*/
    z-index:1000;
}
/* common settings for all child elements */
div.c_button-sidebar ul,
div.c_button-sidebar li {
    display:none;
    padding: inherit;
}
div.c_button-sidebar ul,
div.c_button-sidebar li,
div.c_button-sidebar a {
    position: fixed;
    top:inherit;
    right: inherit;
    margin: inherit;
    background-color: inherit; 
}
div.c_button-sidebar li,
div.c_button-sidebar a {
    height: inherit;
}

div.c_button-sidebar ul {
    width:16px;
    height:40px;
    /* swith off standard behavour */
    -moz-padding-start:0px;
}
div.c_button-sidebar li {
    width:inherit;
}
div.c_button-sidebar a {
    display:block;
    text-decoration:none;
    line-height:1.3em;
    font-size:16px;
    color:#999;
    padding-left:0.5em;
    padding-right:0.2em;
}
/* hovering state */
/* display block */
div.c_button-sidebar:hover, 
div.c_button-sidebar:focus,
div.c_button-sidebar:hover ul, 
div.c_button-sidebar:focus ul,
div.c_button-sidebar:hover li, 
div.c_button-sidebar:focus li {
    display: block;
}
/* padding and margins */
div.c_button-sidebar:hover ul, 
div.c_button-sidebar:focus ul,
div.c_button-sidebar:hover li, 
div.c_button-sidebar:focus li {
    outline:0;
    margin:0;
    padding:0;
}
div.c_button-sidebar:hover, 
div.c_button-sidebar:focus {
    height:auto;
    overflow:visible;
}
/* all levels */
div.c_button-sidebar:hover ul, 
div.c_button-sidebar:focus ul {
    /* empty */
}
div.c_button-sidebar:hover li, 
div.c_button-sidebar:focus li {
   /* empty */
}
div.c_button-sidebar:hover li > a, 
div.c_button-sidebar:focus > a {
    /*fixed with or relative ?*/
    width:200px;
    border:1px solid #e5e5e5;
    border-top-left-radius:5px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:5px;
    color:white;
    background-color:#BD4007;
    text-decoration:none;
}
div.c_button-sidebar:hover li > a:hover, 
div.c_button-sidebar:focus li > a:focus {
    /* empty */
}
/*div.c_button-sidebar *{
    height:inherit;
    margin:inherit;
    right:0px;
    top:inherit;
    position:fixed;
}
div.c_button-sidebar a{
    display:none;
    font-size:16px;
    vertical-align:middle;
    text-decoration:none;
    padding-left:0.2em;
    padding-right:0.2em;
    padding-top:0.2em;
    padding-bottom:0.2em;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px -1px 0px rgba(0, 0, 0, 0.3) inset;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 5px;
}
div.c_button-sidebar:hover a{
    display:block;
        /\*fixed width or relative ?*\/
    width:200px;
    background-color:inherit;
    color:#999;
}

/\* highlight colours mirroring the heads *\/
div.c_button-sidebar a:hover {
    color: white;
    background-color: #BD4007;
    width:200px;
}*/
/* link to the XML source */
#XmlSourceLink{
    top:40px;
}
#PrevIssue{
    top:80px;
}
#NextIssue{
    top:120px;
}
#BackToTop{
    top:160px;
}
#XmlSourceLink:before{
    content:"TEI";
    font-size:16px;
    padding-left:0.5em;
    padding-right:0.2em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
}
#PrevIssue:before{
    content:"\25c0";
    font-size:20px;
    padding-left:0.5em;
    padding-right:0.2em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
}
#NextIssue:before{
    content:"\25ba";
    font-size:20px;
    padding-left:0.5em;
    padding-right:0.2em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
}
#BackToTop:before{
    content:"\25b2";
    font-size:20px;
    padding-left:0.5em;
    padding-right:0.2em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:fixed;
}