/* provide a new and broader width and override other settings */
html {
	width: 1100px !important;
}

/* Move the text right and the facsimile left */

TEI > text {
	width: 550px;
	float: right;
	/*padding-left: 2em;
	border-left: 5px dotted #EBEBEB;*/
}
/* everything should "clear:right" but for <l>, which are already floating */
TEI > text div >* {
	clear: right !important;
}

/* the span containing the entire <pb> information */
span.-teibp-pb {
	display: block;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-left: inherit;
	padding-right: inherit;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-top: 5px dotted #EBEBEB;
	/* clear: left is necessary here if facsimiles are larger than the space occupied by the transcription */
	clear: left;
}

/* the actual images */
/*span.-teibp-facs {
	display: block;
	float: left;
}*/
span.-teibp-pb img {
	display: block;
	float: left;
	width:430px;
	height: 100% !important;
	max-height: 100% !important;
	border-style: none;
	border-right: 5px dotted #EBEBEB;
	clear: left;
	 /* make images sticky: "position: sticky" does not seem to work with floating elements */
    /*position: -webkit-sticky;
    top: -8px;*/

}
/* clip the scans that always contain a lot of empty space around the text block
but do so conservatively
syntax: top, right, bottom, left */
/* clip works only with absolutely positioned elements */
/*clip: rect(0px, 20px, 0px, 20px);*/
/* no browser seems to support the clip-path property. It works with the 
vendor-specific prefix */
/*span.-teibp-pb img {
-webkit-clip-path: inset(0px 20px 0px 20px);
clip-path: inset(0px 20px 0px 20px);
}*/


/* the page number */
span.-teibp-pageNum {
	display: block;
}
span.-teibp-pbNote {
	display: inline;
}