/*-----------------------
teipb, the main stylesheet surpresses the display of quite a few tei elements
-------------------------*/
/*-----------------------
display the information on a file's source
-------------------------*/
/* a) by means of sourceDesc */
sourceDesc,
sourceDesc > *{
    display:block;
}
sourceDesc bibl,
sourceDesc biblStruct,
sourceDesc bibl > *,
sourceDesc biblStruct > *,
sourceDesc biblStruct monogr > *,
sourceDesc biblStruct imprint > *{
    display:block;
}
sourceDesc tei-title{
    font-size:1.5em;
    font-weight:bold;
}
sourceDesc tei-title[type = "sub"]{
    font-size:1.2em;
    font-weight:bold;
}
sourceDesc editor:after{
    content:" (ed.)"
}
/* b) by means of .cSource */
div.cSource,
div.cSource > div{
    margin-top:0.5em;
    margin-bottom:0.5em;
}
/*-----------------------
elements in the text
-------------------------*/
text,
body,
front,
back{
    counter-reset:p;
}
/* count paragraphs */
p{
    counter-increment:p;
}
text p:before{
    content:"ยง " counter(p) " ";
    direction:ltr;
    /* vertical-align:top; */
    font-size:0.5em;
    display:block;
    position:absolute;
    padding-right:0.5em;
    padding-left:0.5em;
    margin-top:0.5em;
    margin-right:-40px;
    color:gray;
}
/* anonymous blocks <ab> */
ab{
    margin-right:auto;
    margin-left:auto;
}
/* byline */
byline{
    display:block;
    text-align:left;
}
/* gaps */
gap{
    display:inline;
}
gap:after{
    content:" [...] "
}
/* tables */
table{
    border-collapse:collapse;
    width:80%;
    margin-right:auto;
    margin-left:auto;
}
cell{
    display:table-cell;
    width:auto;
}
/*------------------
 named entities
-------------------- */
text persName{
    color:#1B8500;
}
text placeName{
    color:#9525A1;
}
text orgName{
    color:#5F789E;
}
/* display tooltip-like information on the tag */
text[lang = "ar"] persName:hover:after,
text[lang = "ar"] placeName:hover:after,
text[lang = "ar"] orgName:hover:after{
    display:inline-block;
    font-size:10px;
    color:black;
    background-color:white;
    padding-right:0.5em;
    padding-left:0.5em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    position:absolute;
    margin-right:-50px;
    margin-top:-30px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
    box-shadow:0px 1px 5px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px -1px 0px rgba(0, 0, 0, 0.3) inset;
}
text[lang = "ar"] persName:hover:after{
    content:"persName"
}
text[lang = "ar"] placeName:hover:after{
    content:"placeName"
}
text[lang = "ar"] orgName:hover:after{
    content:"orgName"
}