/*********************
This stylesheet provides a two-column view,
displaying the facsimiles on the left
and the text on the right.
**********************/

/* omit shamela page breaks */
pb[ed = "shamela"]{
    display:none;
}

/* provide a new and broader width and override other settings */
html {
	width: 1100px !important;
}

TEI > text {
	width: 550px;
}

/* Move rtl text right and the facsimile left */

TEI > text[lang = "ar"],
TEI > text[lang = "ota"],
TEI > text[lang = "fa"],
TEI > text[lang = "he"],
TEI > text[lang *="-Arab-AR"] {
	float: right;
}
/* everything should "clear:right" but for <l>, which are already floating */
TEI > text[lang = "ar"] div >*,
TEI > text[lang = "ota"] div >*,
TEI > text[lang = "fa"] div >*,
TEI > text[lang = "he"] div >*,
TEI > text[lang *="-Arab-AR"] div >* {
	clear: right !important;
}

/* Move ltr text left and the facsimile right */

TEI > text[lang = "en"],
TEI > text[lang = "fr"],
TEI > text[lang = "de"],
TEI > text[lang = "it"],
TEI > text[lang *="ar-Latn-"],
TEI > text[lang *="ota-Latn-"] {
	float: left;
}
/* everything should "clear:right" but for <l>, which are already floating */
TEI > text[lang = "en"] div >*,
TEI > text[lang = "fr"] div >*,
TEI > text[lang = "de"] div >*,
TEI > text[lang = "it"] div >*,
TEI > text[lang *="ar-Latn-"] div >*,
TEI > text[lang *="ota-Latn-"] div >* {
	clear: left !important;
}

/* the span containing the entire <pb> information */
span.c_teibp-pb {
	clear: both !important;
	display: block;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	margin-top: 10px;
	padding-top: 5px;
	/*border-top: 5px dotted #EBEBEB;*/
}

TEI > text[lang = "ar"] span.c_teibp-pb,
TEI > text[lang = "ota"] span.c_teibp-pb,
TEI > text[lang = "fa"] span.c_teibp-pb,
TEI > text[lang = "he"] span.c_teibp-pb,
TEI > text[lang *="-Arab-AR"] span.c_teibp-pb {
	/* clear: left is necessary here if facsimiles are larger than the space occupied by the transcription */
	clear: left !important;
}

TEI > text[lang = "en"] span.c_teibp-pb,
TEI > text[lang = "fr"] span.c_teibp-pb,
TEI > text[lang = "de"] span.c_teibp-pb,
TEI > text[lang = "it"] span.c_teibp-pb,
TEI > text[lang *="ar-Latn-"] span.c_teibp-pb,
TEI > text[lang *="ota-Latn-"] span.c_teibp-pb {
	/* clear: right is necessary here if facsimiles are larger than the space occupied by the transcription */
	clear: right !important;
}

/* draw a thin dotted horizontal line across the entire page */
span.c_teibp-pbLine {
	display: block;
	width: inherit;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 5px dotted #EBEBEB;
}

/* the block containing the images  */
span.c_teibp-pbImgInfo {
	display: block;
	width: 440px;
}

TEI > text[lang = "ar"] span.c_teibp-pbImgInfo,
TEI > text[lang = "ota"] span.c_teibp-pbImgInfo,
TEI > text[lang = "fa"] span.c_teibp-pbImgInfo,
TEI > text[lang = "he"] span.c_teibp-pbImgInfo,
TEI > text[lang *="-Arab-AR"] span.c_teibp-pbImgInfo {
	float: left;
	clear: left;
	border-right: 5px dotted #EBEBEB;
}
TEI > text[lang = "en"] span.c_teibp-pbImgInfo,
TEI > text[lang = "fr"] span.c_teibp-pbImgInfo,
TEI > text[lang = "de"] span.c_teibp-pbImgInfo,
TEI > text[lang = "it"] span.c_teibp-pbImgInfo,
TEI > text[lang *="ar-Latn-"] span.c_teibp-pbImgInfo,
TEI > text[lang *="ota-Latn-"] span.c_teibp-pbImgInfo {
	float: right;
	clear: right;
	border-left: 5px dotted #EBEBEB;
}

/* the images themselves */
span.c_teibp-pb img {
	display: block;
	width:430px;
	height: 100% !important;
	max-height: 100% !important;
	border-style: none;
	/* make images sticky: "position: sticky" does not seem to work with floating elements */
    /*position: -webkit-sticky;
    top: -8px;*/
	}

/* clip the scans that always contain a lot of empty space around the text block
but do so conservatively
syntax: top, right, bottom, left */
/* clip works only with absolutely positioned elements */
/*clip: rect(0px, 20px, 0px, 20px);*/
/* no browser seems to support the clip-path property. It works with the 
vendor-specific prefix */
/*span.c_teibp-pb img {
-webkit-clip-path: inset(0px 20px 0px 20px);
clip-path: inset(0px 20px 0px 20px);
}*/


/* the page number */
span.c_teibp-pageNum {
	display: block;
	padding-left: 5px;
	padding-right: 5px;
}
span.c_teibp-pbNote {
	display: inline;
}