/****************
Integrate the Amiri web font. 
Amiri is based on the famous font of Bulāq Press in Cairo
and distributed under an open font licence. 
See https://github.com/khaledhosny/amiri-font
for details.
*****************/

@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/amiri-regular.ttf')  format('truetype');
}

@font-face {
    font-family: Amiri QuranWeb;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/amiri-quran.ttf')  format('truetype');
}

@font-face {
    font-family: Amiri Quran ColoredWeb;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/amiri-quran-colored.ttf')  format('truetype');
}

@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/amiri-bold.ttf')  format('truetype');
}

@font-face {
    font-family: AmiriWeb;
    font-style: oblique;
    font-weight: 400;
    src: url('../fonts/amiri-slanted.ttf')  format('truetype');
}

@font-face {
    font-family: AmiriWeb;
    font-style: oblique;
    font-weight: 700;
    src: url('../fonts/amiri-boldslanted.ttf')  format('truetype');
}
