/* this stylesheet governs colour schemes */

html {
    background-color:#EBEBEB; 
}
body, #tei_wrapper {
    background-color: white;
}
/*********
 links
*********/
a:link,
a:visited,
a:active {
  color: #002096;
}
a:hover {
	/* could be green (#84DA00) or the original orange (#002096) well */
  color: #62A401;
}

a:link svg,
a:visited svg,
a:active svg {
  stroke: #002096;
}

a:hover svg {
    /* could be green (#84DA00) or the original orange (#002096) well */
  stroke: #62A401;
}

/*********
 heads
*********/

head {
    background-color: #FFF;
}

/* levels */
/* level 1 */

text > * > div > head {
    color: #002096;
}
/* level 2 */
text > * > div > div > head {
    color: #0131D4;
}
/* level 3 */
text > * > div > div > div > head {
    color: #023CFB;
}
/* level 3 */
text > * > div > div > div > div > head {
}

/*********
 navigation
*********/
/*nav,
nav *,
nav a, 
nav a *,
nav:hover li > a, 
nav:focus li > a,
div.c_button-sidebar a {
    color:#999;
}*/
div.c_button-sidebar:hover,
div.c_button-sidebar:focus,
div.c_button-sidebar:hover > *, 
div.c_button-sidebar:focus > * {
    color:white;
    background-color:#002096;
}
/* highlight colours mirroring the heads */
/* level 1*/
nav:hover > ul > li > a:hover, 
nav:focus > ul > li > a:focus {
    color: white;
    background-color: #002096;
}
/* level 2 */
nav:hover > ul>li>ul>li > a:hover, 
nav:focus > ul>li>ul>li > a:focus {
    color: white;
    background-color: #0131D4;
}
/* level 3*/
nav:hover > ul>li>ul>li>ul>li > a:hover, 
nav:focus > ul>li>ul>li>ul>li > a:focus {
    color: white;
    background-color: #023CFB;
}
/*********
bibliographic information
*********/
text>body title {
    /*color:#F35024;*/
}
/*********
 other stuff
*********/

p>span.c_id{
    color:gray;
}