/**********************
This stylesheet styles the masthead
of journals 
***********************/

div[type = "masthead"],
div[subtype = "masthead"] {
	display: block;
	border-bottom: solid black 2px;
}

/* make line breaks dividers */
div[type = "masthead"] >  lb,
div[subtype = "masthead"] >  lb {
	display: block;
	border-bottom: solid black 2px;
}

/* provide a central large title */
div[type = "masthead"] > bibl > title[level = "j"],
div[subtype = "masthead"] > bibl > title[level = "j"] {
	display: block;
	font-size: 4em;
	text-align: center;
	/*border-top: solid black 2px;*/
}
div[type = "masthead"] > bibl > title[level = "j"][type = "sub"],
div[subtype = "masthead"] > bibl > title[level = "j"][type = "sub"] {
	display: block;
	font-size: 1.5em;
	text-align: center;
	/*border-top: solid black 2px;*/
}

/* float issue and volume numbers */

div[type = "masthead"] > bibl > biblScope,
div[subtype = "masthead"] > bibl > biblScope {
	display: block;
}
div[type = "masthead"] > bibl > biblScope[unit = "issue"],
div[subtype = "masthead"] > bibl > biblScope[unit = "issue"] {
	float: right;
	display: block;
}
div[type = "masthead"] > bibl > biblScope[unit = "volume"],
div[subtype = "masthead"] > bibl > biblScope[unit = "volume"] {
	float: left;
	display: block;
}

