@import "/Applications/Office-Research/XML/oxygen 16.1/frameworks/tei/xml/tei/css/tei_oxygen.css";
/*-------------------------------
CSS for generating automatic numbering for elements
author: Till Grallert
date: 2015-07-19
---------------------------------*/

text {
    counter-reset: note p lb pb cb;
}
front, body, back {
    counter-reset:p lb;
}
pb {
    counter-reset:cb;
}
text {
    margin-left:auto;
    margin-right:auto;
    width:800px;
    padding-left:1em;
    padding-right:1em;
}

/* automatically numberd TEI elements: */

p{
    counter-increment: p;
}
text p:before {
	content: "§ " counter(p) " ";
	direction:ltr;
	vertical-align:top;
	font-size: 0.5em;
	color: orange;
	display: inline;
}
text cb {
    display:inline;
    /*content:"\a";*/
    counter-increment: cb;
   }
text cb {
	content: "cb " counter(cb);
	direction:ltr;
	vertical-align:top;
	font-size: 0.5em;
	color: orange;
	display:inline;
}
text lb {
    display:inline;
    /*content:"\a";*/
    counter-increment: lb;
   }
text lb {
	content: "lb " counter(lb);
	direction:ltr;
	vertical-align:top;
	font-size: 0.5em;
	color: orange;
	display:inline;
}
text pb {
    display:inline;
    content:"\a";
    counter-increment: pb;
   }
text pb:after {
	content: "page " counter(pb);
	direction:ltr;
	vertical-align:top;
	font-size: 0.5em;
	color: orange;
	display:inline;
}
note{
    counter-increment: note;
}
note:before {
	font-size: 70%;
	vertical-align: super;
	content: "[" counter(note) "]";
	font-size: 70%;
	display: inline;
}

/* display content of the @n attribute, doesn't work in firefox */

/*lb:nth-child(5n+5) {
    content: "\a line "attr(n);
    vertical-align: top;
    font-size: 50%;
    display:inline;
    padding-left:1em;
    padding-right:1em;
}*/

/*text pb {
    content: "\a page "attr(n);
    vertical-align: top;
    font-size: 50%;
    display:inline;
    padding-left:1em;
    padding-right:1em;
}*/