name: "Add standard attributes, update bibliographic metadata"
description: "This workflow runs a number of XSLT transformation on TEI XMl files to add missing `@xml:id` and `@xml:lang` attributes and generate bibliographic metadata in multiple output formats"
on: 
  push:
    paths:
      # this specifies the path of the file(s) that have to have been pushed
      # for triggering this action
      # NOTE that the trigger is not the selector for files to be transformed
      - tei/*.TEIP5.xml
jobs:
  # this is a build matrix [why do we need that here?]. If not needed the job can be renamed
  build:
    runs-on: ubuntu-latest
    steps:
      # This step checks out a copy of your repository.
      - uses: actions/checkout@v2
      # This step references the directory that contains the action.
      - uses: ./.github/actions/attributes-bibliographic-metadata
      # this step automatically commits changes
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Github actions: added @xml:id and @xml:lang to all new elements. Updated/ generated bibliographic metadata"